*{
    margin:0 auto;
    padding: 0%;
    box-sizing: border-box;
   /* overflow: hidden;*/

}
header{

}
header .logo{


    display: block;
    height: 150px;
}
nav{
    overflow: hidden;
    background-color: #63e4e0;
}
nav a{
    color: #5c6c6b;
    padding: 15px 15px;
    display: block;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-decoration:none;
}
nav a.last{
    display: block;
    background-color:#40c4d0 ;
    float:right
}
nav a:hover{
    color:#353538 ;
}
.last:hover{
    color:#353538 ;
}
.container{
    width: 80%;
}
#banner{
    background-color: #bae6e8;
    padding: 30px;

}
#banner.container{
    display: flex;
}
#banner img{
    height: 150px;
    width: 50%;
}
.info{
    padding: 40px;

}
.info h1{
    color: cornflowerblue;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.info h1 span{
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
    font-size: 20px;
color: cadetblue;
}
.info p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    padding:20px 0;
    color: black;
}
.info a{
    display: inline-block;
    text-decoration: none;
    color: darkgrey;
    background-color:#aceb8a ;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;

}
.info a:hover{
    background-color: #beabe3;
    color: pink;
}
#feature{
    margin: 30px;   
   }
   #feature .container{
       display: flex;
   }
   #feature .box{
       width: 24%;
   }
   .box img{
       width: 100%;
       height: 200px; 
       display: block;
   }
   .box .info1{
    background-color: #beabe3;
    padding: 10px 0;
   
   }
   .info1 h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 0 10px;
}
.info1 a{
    color: rgb(61, 41, 3);
    text-decoration: none;
}
.info1 a:hover{
    color: rgb(3, 48, 70);
}
